@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}




.label-container {
    line-height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1mm;
}

.label-container .cod {
    font-size: 12pt;
    letter-spacing: 1mm;
    font-weight: 800;
}

.media {


    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 10px 1px rgba(216, 246, 255, 0.8);

    
    page-break-before: always;
}


@media print {
    .label-container, .media {
      box-shadow: none;
    }
  }